body {
    background-color: #ccffcc;
    font-family: 'Ranchers', cursive;
}

.contenedor {
    background-color: #ffffec;
    width: 270px;
    display: inline-block;
    margin: 150px auto;
    box-sizing: content-box;
    padding: 45px;
    text-align: center;
    border-radius: 12px;
    box-shadow: #F5F5F5;
    margin-left: 350px;
    margin-right: auto;
    align-items: center;
}

.titulo {
    margin-top: auto;
}

.frutas {
    margin-top: 30px;
}

.fruta {
    background-color: #FFFFFF;
    width: 150px;
    border: 2px solid #C0C0C0;
    border-radius: 70px;
    padding: 6px;
    margin: auto;
    margin-bottom: 10px;
}